<head>
    <link rel="stylesheet" href="utilisateur.component.css">
</head>
<div class="card" style="width: 100%;  height: 100%;" id="InnerDiv">
    <h4 class="card-header text-center font-weight-bold text-uppercase py-4" style="padding-left: 40%;">ESPACE ADMIN
        <img style=" height: 20px; width: 20px; " src="img/admin.svg">
    </h4>
    <div class="card-body">
        <div id="table" class="table-editable">
            <!--tableau-->
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <tr>
                    <th style="background-color:black; color:whitesmoke" class="text-center">Nom</th>
                    <th style="background-color:black; color:whitesmoke" class="text-center">Prénom</th>
                    <th style="background-color:black; color:whitesmoke" class="text-center">Promotion</th>
                    <th style="background-color:black; color:whitesmoke" class="text-center">Photo</th>
                    <th style="background-color:black; color:whitesmoke" class="text-center">Etat</th>
                    <!-- <input id="edit" type="submit" name="edit" class="btn btn-primary" type="button" (click)="add()" value="New User" /> -->
                    <button type="button" style=" height: 50px; width: 150px; margin-left: 80%;" class="btn btn-primary"
                        (click)="add()"><img style="margin-left: 10%;" src="img/person-plus.svg"></button>

                </tr>
                <tbody>

                    <!--lignes-->
                    <tr>
                        <td><input type="text" name="Nom"></td>
                        <td><input type="text" name="Prénom"></td>
                        <td><input type="text" style="text-align: center;" name="Promotion"></td>
                        <td><a type="image" style="text-align: center;" name="Photo"> </a></td>
                        <td><a type="text" name="Etat">0</a></td>
                        <!--button de sauvegarde-->
                        <td>
                            <button type="button" style="margin-left: 5% ; height: 50px; width: 50px;"
                                class="btn btn-success" (click)="save(i)"><img style=" padding-left: unset;"
                                    src="img/check2-square.svg"></button>
                        </td>
                        <!--button pour effacer s'affichera en fonction de ledit mode-->
                        <td>
                            <button type="button" style=" height: 50px; width: 50px;"
                                class="btn btn-secondary btn-lg active" (click)="switchEditMode(i)"><img
                                    src="img/pencil-square.svg"></button>
                            <button type="button" style="margin-left: 5% ; height: 50px; width: 50px;"
                                class="btn btn-danger" (click)="remove(i)"><img src="img/person-x.svg"></button>
                        </td>

                    </tr>


                </tbody>

            </table>

        </div>
    </div>
    def add():
        text=request.form['Nom']
        processed_text=text.upper()