<html>
	<head>
		<title>Ajouter un élève</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/ajouterEleve.css') }}">
		<meta charset="UTF-8"/>
	</head>
	<body>
		<header>
			<ul>
				<li><a href="/index">Liste des étudiants</a></li>
  				<li style="float:right"><a href="/deconnexion">Déconnexion</a></li>
			</ul>
		</header>
		<div class="container">
			<form action="/validation" method="POST" enctype="multipart/form-data">
   				<div class="row">
					<div class="col-25">
       					<label for="fname">Nom</label>
   					</div>
   					<div class="col-75">
      					<input type="text" id="Nom" name="nom" placeholder="Nom" required>
   					</div>
  				</div>
   				<div class="row">
   					<div class="col-25">
       					<label for="lname">Prénom</label>
   					</div>
   					<div class="col-75">
       					<input type="text" id="Prenom" name="prenom" placeholder="Prenom" required>
   					</div>
   				</div>
   				<div class="row">
   					<div class="col-25">
      					<label for="country">Classe</label>
   					</div>
   					<div class="col-75">
       					<select id="Classe" name="promo">
       						<option value="CIR1">CIR1</option>
       						<option value="CIR2">CIR2</option>
       						<option value="CIR3">CIR3</option>
       						<option value="CNB1">CNB1</option>
       						<option value="CNB2">CNB2</option>
       						<option value="CNB3">CNB3</option>
       						<option value="CPG1">CPG1</option>
       						<option value="CPG2">CPG2</option>
       						<option value="CSI3">CSI3</option>
                  			<option value="M1">M1</option>
                  			<option value="M2">M2</option>
      					</select>
   					</div>
   				</div>
   				<div class="row">
   					<div class="col-25">
          				<label for="promo">Photos</label>
          			</div>
          			<div class="col-75">
          				<input type="file" id="avatar" name="photo1" accept="image/png, image/jpeg" required>
                  <input type="file" id="avatar" name="photo2" accept="image/png, image/jpeg" required>
                  <input type="file" id="avatar" name="photo3" accept="image/png, image/jpeg" required>
          			</div>
        		</div>
   				<div class="row">
   					<input type="submit" value="Submit">
   				</div>
			</form>
		</div>
	</body>
</html>
