<!DOCTYPE html>
<html>
    <head>
        <title>Formulaire étudiants</title>

    </head>

    <form action="/ma-page-de-traitement" method="post">
        <div>
            <label for="name">Nom :</label>
            <input type="text" id="name" name="user_name">
        </div>
        <div>
            <label for="prenom">Prénom:</label>
            <input type="prenom" id="prenom" name="user_prenom">
        </div>
        <div>
            <label for="promo">Promo :</label>
            <textarea id="promo" name="user_promo"></textarea>
        </div>
        <div class="form-example">
            <input type="submit" value="Ajouter">
        </div>
    </form>
</html>