<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index">
        <div class="sidebar-brand-text mx-3">
            <img src="{{ url_for('static', filename= 'img/logo.PNG') }}" alt="Reconnaissance-Faciale" style="width : 100%">
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Tables -->
    <li class="nav-item" id="listeEtudiant">
        <a class="nav-link" href="/index">
            <i class="fas fa-fw fa-table"></i>
            <span>Liste Etudiant</span></a>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item " id="promotion">
        <a class="nav-link collapsed" href="/index" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-table"></i>
            <span>Promotion</span>
        </a>

        <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <ul class="  scroller bg-white py-2 collapse-inner rounded  " style="margin: 12px;">
                <form action="/annee" method="POST" enctype="multipart/form-data">
                    <a ng-click="linkClicked(5)" ng-class="{'current': activeLinks[5]}">
                        <a data-toggle="collapse" data-target="#b" aria-expanded="false" aria-controls="2" class="collapse-item">
                            Par année<i aria-hidden="true"></i>
                        </a>

                        <div class="collapse collapse-styled" id="b">
                            <button name="annee" type="submit" href="/annee" value="1" id ="bouton" class="collapse-item btn btn-light mb-2 btn-lg btn-block">
                                1ère année
                                <i aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="collapse collapse-styled" id="b">
                            <button name="annee" type="submit" href="/annee" class="collapse-item btn btn-light mb-2 btn-lg btn-block" value="2" id ="bouton">
                                2ème année
                                <i aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="collapse collapse-styled" id="b">

                            <button name="annee" type="submit" href="/annee" class="collapse-item btn btn-light mb-2 btn-lg btn-block" value="3" id ="bouton">
                                3ème année
                                <i aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="collapse collapse-styled" id="b">
                            <button name="annee" type="submit" href="/annee" class="collapse-item btn btn-light mb-2 btn-lg btn-block" value="4" id ="bouton">
                                4ème année
                                <i aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="collapse collapse-styled" id="b">
                            <button name="annee" type="submit" href="/annee" class="collapse-item btn btn-light mb-2 btn-lg btn-block" value="5" id ="bouton">
                                5ème année
                                <i aria-hidden="true"></i>
                            </button>
                        </div>
                    </a>
                </form>

                <form action="/promo" method="POST" enctype="multipart/form-data">
                    <a class="ng-class= scroller">
                        <a data-toggle="collapse" data-target="#c" aria-expanded="false" aria-controls="3" class="collapse-item" style="margin-bottom:  12px;">
                            Par promotion<i aria-hidden="true"></i>
                        </a>
                        <div class="collapse collapse-styled" id="c">
                            <button name="promo" type="submit" href="/promo" class="collapse-item btn btn-light mb-2 btn-lg btn-block" value="CIR1" id ="bouton">
                                CIR1
                                <i aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="collapse collapse-styled" id="c">
                            <button name="promo" type="submit" href="/promo" class="collapse-item btn btn-light mb-2 btn-lg btn-block" value="CNB1" id ="bouton">
                                CNB1
                                <i aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="collapse collapse-styled" id="c">
                            <button name="promo" type="submit" href="/promo" class="collapse-item btn btn-light mb-2 btn-lg btn-block" value="CPG1" id ="bouton">
                                CPG1
                                <i aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="collapse collapse-styled" id="c">
                            <button name="promo" type="submit" href="/promo" class="collapse-item btn btn-light mb-2 btn-lg btn-block" value="CIR2" id ="bouton">
                                CIR2
                                <i aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="collapse collapse-styled" id="c">
                            <button name="promo" type="submit" href="/promo" class="collapse-item btn btn-light mb-2 btn-lg btn-block" value="CNB2" id ="bouton">
                                CNB2
                                <i aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="collapse collapse-styled" id="c">
                            <button name="promo" type="submit" href="/promo" class="collapse-item btn btn-light mb-2 btn-lg btn-block" value="CPG2" id ="bouton">
                                CPG2
                                <i aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="collapse collapse-styled" id="c">
                            <button name="promo" type="submit" href="/promo" class="collapse-item btn btn-light mb-2 btn-lg btn-block" value="CIR3" id ="bouton">
                                CIR3
                                <i aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="collapse collapse-styled" id="c">
                            <button name="promo" type="submit" href="/promo" class="collapse-item btn btn-light mb-2 btn-lg btn-block" value="CNB3" id ="bouton">
                                CNB3
                                <i aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="collapse collapse-styled" id="c">
                            <button name="promo" type="submit" href="/promo" class="collapse-item btn btn-light mb-2 btn-lg btn-block" value="CPG3" id ="bouton">
                                CPG3
                                <i aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="collapse collapse-styled" id="c">
                            <button name="promo" type="submit" href="/promo" class="collapse-item btn btn-light mb-2 btn-lg btn-block" value="M1" id ="bouton">
                                M1
                                <i aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="collapse collapse-styled" id="c">
                            <button name="promo" type="submit" href="/promo" class="collapse-item btn btn-light mb-2 btn-lg btn-block" value="M2" id ="bouton">
                                M2
                                <i aria-hidden="true"></i>
                            </button>
                        </div>
                    </a>
                </form>
            </ul>
        </div>
    </li>

    <li class="nav-item" id="ajouterEtu">
        <a class="nav-link" href="/ajouter">
            <i class="fas fa-fw fa-plus"></i>
            <span>Ajouter Etudiant</span>
        </a>
    </li>

    <li class="nav-item" id="supprEtu">
        <a class="nav-link" href="/supprimer">
            <i class="fas fa-fw fa-minus"></i>
            <span>Supprimer Etudiant</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Charts -->
    <li class="nav-item" id="graphiques">
        <a class="nav-link" href="/graphes">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Graphiques</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>

<!-- End of Sidebar -->